/*
* HOME
*/

//body

.aditional_info,
.aditional_info3 {
    .feature-box-style-5 h4 {
        color: $color-extra !important;
        font-size: 15px !important;
        font-family: Roboto-Bold;
    }
    .feature-box {
        box-shadow: 0px 8px 20px #e0e0e0;
        padding: 42px 16px 42px 16px;
        margin-bottom: 15px;
        h4 {
            font-size: 14px;
            font-family: Roboto-Medium, Serif;
            letter-spacing: 0;
            text-align: center;
            line-height: 35px;
        }
    }
}

.aditional_info2 {
    padding: 20px;
    p {
        text-align: left;
        font-size: 22px;
        font-family: Roboto-Regular;
        letter-spacing: 0px;
        line-height: 35px;
    }
    .info-down {
        text-align: initial !important;
        font-size: 13px;
        font-family: Roboto-Regular;

        li {
            list-style-type: decimal;
            line-height: 18px;
        }
    }
    .border-bottom-dos {
        border-bottom: 1px solid $brand-info;
        width: 100%;
        margin-bottom: 20px;
    }

    .titulo {
        font-size: 22px;
        text-align: justify;
        line-height: 25px;
    }
    .titulo strong {
        color: $color-secondary;
    }
}

.aditional_info3 {
    .feature-box {
        background-color: #ffffff;
    }
    strong {
        font-family: Roboto-Bold;
    }
    h2 {
        color: $color-secondary;
        font-size: 21px;
        letter-spacing: 0px;
        margin-bottom: 20px !important;
    }
    p {
        font-family: Roboto-Regular;
        font-size: 13px;
        //color: #2A2A2A;
        line-height: 22px;
        letter-spacing: 0px;
        margin-bottom: 10px !important;
    }
}

.container.aditional_info.pb-xlg {
    padding-top: 120px !important;
    .row.pt-xlg.mt-xlg.pb-xlg {
        padding-bottom: 20px !important;
        .col-md-11 {
            padding-bottom: 10px;
        }
        h1.section_title.mb-sm {
            text-align: right;
        }
        h3#doc {
            text-align: right;
        }
    }
}

.gradient {
    background-image: linear-gradient(
        135deg,
        rgba(99, 21, 90, 0.92) 0%,
        rgba(131, 49, 119, 0.61) 100%
    );
    text-align: justify-all;
    padding-top: 15px;
    padding-bottom: 15px;
    .row {
        padding: 5px;
    }
    strong {
        font-size: 20px;
    }
    h4 {
        font-family: Roboto-Regular;
        font-size: 31px;
        color: $color-quaternary;
        letter-spacing: 0;
        text-align: center;
        padding: 0px !important;
        text-transform: none !important;
        margin-bottom: 0px !important;
    }
    h5 {
        text-transform: capitalize;
        padding-top: 20px;
        font-size: 21px;
        font-family: Roboto-Medium;
        color: $color-quaternary !important;
        line-height: 24px;
        font-weight: 100;
    }
    p {
        line-height: 22px;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: $color-quaternary !important;
    }
    .center {
        padding: 32px !important;
    }
}

.feature_description {
    text-align: center;
}

.authors {
    .authors-titulo {
        h3 {
            font-family: Roboto-Regular !important;
            color: $color-secondary !important;
            font-size: 31px !important;
            text-transform: none !important;
        }
        h4 {
            font-family: "Open Sans" !important;
            color: #333c4e !important;
            font-size: 21px !important;
            padding-bottom: 20px !important;
        }
    }
    p {
        font-family: Roboto-Medium !important;
        color: #333c4e !important;
        font-size: 20px !important;
    }

    .authors-contenido {
        padding: 0px !important;
        h4 {
            font-family: "Open Sans" !important;
            color: #0062a9 !important;
            font-size: 21px !important;
            padding-bottom: 20px !important;
        }
        p {
            font-family: Roboto-Medium !important;
            color: #777 !important;
            font-size: 16px !important;
        }
    }
}
