html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat Light', 'Montserrat Light', 'GothamBook', Arial, sans-serif;
    color: #58595b;
}

.title-web {
    font-family: 'Montserrat Light', 'GothamBook', Arial, sans-serif;
    margin-top: 0px;
    line-height: 35px;
    color: #001e55;
    min-width: 330px;
    display: inline-block;
    padding-bottom: 16px;
    margin-bottom: 30px;
}
